.main__content {
  width: 1000px;
  height: 1800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 63px;
  clear: none;
}

@media (max-width: 1000px) {
  .main__content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.main__zag {
  width: 372px;
  height: 26px;
  padding-top: 93px;
  margin-left: 314px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

@media (max-width: 703px) {
  .main__zag {
    margin-left: 31.4%;
  }
}

@media (max-width: 562px) {
  .main__zag {
    margin-left: 25%;
  }
}

@media (max-width: 511px) {
  .main__zag {
    margin-left: 10%;
  }
}

.main__kotlety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__kotlety {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__kotlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__kotlet {
    width: 40%;
  }
}

.opisanie__kotlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.kotlet {
  margin: 0;
  color: #000;
}

.author {
  margin: 0;
  padding-top: 7px;
  width: 92px;
  height: 15px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4B4A4A;
}

.kol__ingred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.kol__voi {
  border-right: 2px solid #ccc;
  width: 110px;
  height: 18px;
  margin-right: 5px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 674px) {
  .kol__voi {
    margin-left: 0;
  }
}

.kol__vop {
  border-right: 2px solid #ccc;
  width: 60px;
  height: 18px;
  margin-right: 5px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 674px) {
  .kol__vop {
    margin-left: 0;
  }
}

.time {
  width: 139px;
  height: 18px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.button__recipe {
  width: 347px;
  height: 45px;
  margin: 36px 0 0 0;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.ssylka {
  text-decoration: none;
}

.main__fasol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__fasol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__faimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__faimg {
    width: 40%;
  }
}

.opisanie__fasol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.fasoll {
  margin: 0;
  color: #000;
}

.main__farsh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__farsh {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__farshimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__farshimg {
    width: 40%;
  }
}

.opisanie__farsh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.farsh {
  margin: 0;
  color: #000;
}

.main__ragu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__ragu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__raguimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__raguimg {
    width: 40%;
  }
}

.opisanie__ragu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.ragu {
  margin: 0;
  color: #000;
}

.main__ketolomtik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__ketolomtik {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__ketoimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__ketoimg {
    width: 40%;
  }
}

.opisanie__ketolom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.ketolom {
  margin: 0;
  color: #000;
}

.main__bazilk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 660px) {
  .main__bazilk {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__bazilikimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 45px;
}

@media (max-width: 578px) {
  .main__bazilikimg {
    width: 40%;
  }
}

.opisanie__bazilik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px 0 0 11px;
}

.ketolom {
  margin: 0;
  color: #000;
}

.more {
  width: 122px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #24AF30;
  cursor: pointer;
  margin-top: 109px;
  margin-left: 46.1%;
}

.footer {
  margin-left: 32%;
  margin-top: 97px;
}

.social {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}
/*# sourceMappingURL=maincotent.css.map */