.main__content {
  width: 1000px;
  height: 5136px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 63px;
}

@media (max-width: 1000px) {
  .main__content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.kotlet__txt {
  padding-top: 104px;
  margin: 0 0 0 144px;
  font-family: Georgia;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1017px) {
  .kotlet__txt {
    margin: 0 0 0 14.4%;
  }
}

.kotlet__img {
  margin: 55px 0 0 34px;
}

.ingred {
  width: 132px;
  height: 17px;
  margin: 50px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.block__ingred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px 0px 34px;
  border-bottom: 2px solid #000000;
}

.block__ingred1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 30px 0px 34px;
  border-bottom: 2px solid #000000;
}

.weight {
  margin-left: 50px;
}

.instruktion__txt {
  width: 270px;
  height: 17px;
  margin: 86px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.first__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .first__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.first__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 520px) {
  .first__img {
    width: 90%;
  }
}

.first__opis {
  width: 400px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .first__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .first__opis {
    width: 80%;
  }
}

.f2 {
  margin: 0;
}

.second__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .second__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.second__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .second__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .second__img {
    width: 90%;
  }
}

.second__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .second__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .second__opis {
    width: 80%;
  }
}

.third__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .third__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.third__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .third__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .third__img {
    width: 90%;
  }
}

.third__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .third__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .third__opis {
    width: 80%;
  }
}

.f3 {
  margin: 0;
}

.fourth__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .fourth__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.fourth__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .fourth__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .fourth__img {
    width: 90%;
  }
}

.fourth__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .fourth__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .fourth__opis {
    width: 80%;
  }
}

.f4 {
  margin: 0;
}

.fives__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .fives__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.fives__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .fives__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .fives__img {
    width: 90%;
  }
}

.fives__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .fives__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .fives__opis {
    width: 80%;
  }
}

.sixs__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .sixs__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.sixs__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .sixs__img {
    margin: 200px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .sixs__img {
    width: 90%;
  }
}

.sixs__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .sixs__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .sixs__opis {
    width: 80%;
  }
}

.f6 {
  margin: 0;
}

.sevens__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .sevens__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.sevens__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .sevens__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .sevens__img {
    width: 90%;
  }
}

.sevens__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .sevens__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .sevens__opis {
    width: 80%;
  }
}

.f7 {
  margin: 0;
}

.vosem__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .vosem__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.vosem__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .vosem__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .vosem__img {
    width: 90%;
  }
}

.vosem__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .vosem__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .vosem__opis {
    width: 80%;
  }
}

.f8 {
  margin: 0;
}

.nines__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 722px) {
  .nines__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 34px;
  }
}

.nines__img {
  margin: 25px 0 0 34px;
}

@media (max-width: 722px) {
  .nines__img {
    margin: 128px 0 0 38px;
  }
}

@media (max-width: 520px) {
  .nines__img {
    width: 90%;
  }
}

.nines__opis {
  width: 470px;
  height: 111px;
  margin: 93px 0 0 38px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 722px) {
  .nines__opis {
    margin: 5px 0 0 38px;
  }
}

@media (max-width: 560px) {
  .nines__opis {
    width: 80%;
  }
}

.f9 {
  margin: 0;
}

.komment {
  width: 161px;
  height: 17px;
  margin: 94px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 722px) {
  .komment {
    margin: 94px 0 0 38px;
  }
}

.author__serega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serega {
  margin: 30px 0 0 34px;
  border-radius: 33px;
}

.name {
  margin: 39px 0 0 30px;
  width: 148px;
  height: 11px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.komm1 {
  width: 283px;
  height: 15px;
  margin: 18px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.otvet1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.otvetit {
  width: 66px;
  height: 12px;
  margin: 28px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.pojal {
  width: 66px;
  height: 12px;
  margin: 28px 0 0 15px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.f__ssylka {
  text-decoration: none;
  cursor: pointer;
}

.author__kostya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kostya {
  border-radius: 33px;
  margin: 29px 0 0 128px;
}

.name1 {
  margin: 39px 0 0 30px;
  width: 185px;
  height: 11px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.komm2 {
  width: 283px;
  height: 15px;
  margin: 18px 0 0 128px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.otvetit1 {
  width: 66px;
  height: 12px;
  margin: 28px 0 0 128px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.pojal1 {
  width: 66px;
  height: 12px;
  margin: 28px 0 0 34px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.otvet2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dob__kom {
  width: 620px;
  height: 80px;
  margin: 61px 0 0 26px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 664.44px) {
  .dob__kom {
    width: 90%;
  }
}

.btn__submit {
  width: 169px;
  height: 40px;
  margin: 40px 0 0 26px;
  background: #FFFFFF;
  border: 2px solid #24AF30;
  cursor: pointer;
}

.btn__submit:hover {
  color: #24AF30;
}

.footer {
  margin-left: 32%;
  margin-top: 97px;
}

.social {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}
/*# sourceMappingURL=maincontent.css.map */